<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 暂时关闭了 enableOnBackInvokedCallback，因为稳定性还是有点差 -->

    <application
        android:name=".HanimeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/hanime_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hanime1"
        tools:targetApi="34">

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            android:initOrder="114514"
            tools:node="merge">
            <meta-data
                android:name="com.yenaly.han1meviewer.HInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name=".ui.activity.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="hanime1.com" />
                <data android:host="hanime1.me" />
                <data android:path="/watch" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Hanime1.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.activity.PreviewActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hanime1.Preview"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".ui.activity.PreviewCommentActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.Hanime1.About">

        </activity>
    </application>
</manifest>