<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/http_network_config"
        tools:ignore="UnusedAttribute">
        <!-- 暂时交给app层
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.yenaly.yenaly_libs.base.YenalyInitializer"
                android:value="androidx.startup" />
        </provider>
        -->
        <activity
            android:name=".base.dialog.YenalyCrashDialogActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>